<body>
<div class="contact">
 <h2>Contact:</h2>
  <p> Résidence les écrins d\'azur</p>
  <p>701 chemin des quatres chemins 06600 Antibes</p>
  <p> Tel: 0618350674</p>
  <p> Email: <a href="ericmvogo@yahoo.fr"> ericmvogo@yahoo.fr</a></p>
</div>

<div class="message">
  <h2>Nous contacter:</h2>
  <label>Nom*: </label>
  <div><input type="text"></div>
<label>Prenom*:</label>
<div><input type="text"></div>
<label>message</label>
<div><textarea ></textarea></div> 
<button type="submit">Envoyer</button>

 </div>
</body>