

<body class="accueil">
  <h3> Mes publications:</h3>
<section>
  <p><a><img src=".\assets\images\first_book.png" alt="first_book" height="150" width="150"></a></p>
<h4>
  <strong>L'identite historique et anthropogique des ekang-beti une composante</strong>
</h4>
<p class="description"> 
  Le présent ouvrage présente l'identité historique du peuple ekang-beti, une composante bantou,<br>
  comme une société des modèles de l'éthique et de l'esthétique, du vivre-ensemble à travers les sagesses,<br>
  les rites, proverbes et vision du monde, une philosophie et une spiritualité qui, chez nos ancêtres,<br>
  ont produit des <<aristocrates de l'esprit>> avec des savoirs-être dire et faire puissant dans une tradition<br>
  séculaire et humaniste, véritable constitution non écrite.
</p>
</section>

<section>
  <p><a><img src=".\assets\images\ntol_bene.jpg"  height="150" width="150"></a></p>
<h4>
  <strong>Beling'Monbo Ntol bene</strong>
</h4>
<p class="description"> 
Cet ouvrage présente le grand ensemble Ekang, le peuple beti et la composante Mvog-Belinga du clan bene<br>
  du cameroun, ainsi que le syncrétisme, us, coutumes et rites, sagesses et proverbes beti du cameroun
  </p>
</section>
</body>