
.nav.nav-tabs li {
  background-color: green;
  color: black;
  display: inline-block;
  padding: 12px;
  text-decoration: none;
  text-align: center;
  margin: auto;
  white-space: nowrap;

  
  // overflow: auto;
  // white-space: nowrap;
}

.nav.nav-tabs li:hover {
  background-color: #ccc;
}

.nav.nav-tabs a.active {
  background-color: #4CAF50;
  color: white;
  
}
