
.navbar-nav li {
  background-color: cadetblue;
  color: black;
  // display: inline-block;
  padding: 12px;
  text-decoration: blink;
  text-align: justify;
  position: relatlive;
 font-size: medium;

}

.nav-item a {
  text-decoration:none;

}

.navbar-nav li:hover {
  background-color: #ccc;
}


.collapse.navbar-collapse {
  position: relative;
  margin:20px;
  
  left: 132px;
}

img {
  position: relative;
}

h1 {
  background-color: white;
  position: relative;
}

#navbarDropdownMenuLink:hover {

  display: block;
} 