<body class="accueil">
  <!-- <p><a><img src="./assets/images/Joseph_Mvogo.png" alt="photo_mvogo_joseph" height="300" width="400"></a></p>
  <h3> -->
    <!-- <strong>Je suis Monsieur MVOGO NGANOMA JOSEPH</strong> -->
  <!-- </h3> -->
  <p class="description"> 
    Veuillez procéder à un reglement via le lien paypal ci-dessus<br>
      and aller dans l'onglet Contact pour envoyer un mail<br>
     et y joindre la reglement paypal, vous recevrez ensuite vos livres directement chez vous

  </p>
  
  <!-- <img src=".\assets\images\PP_logo_h_100x26.png"> -->
  <p><img src=".\assets\images\PP_logo_h_100x26.png">
    <a src ="" href="https://www.paypal.com/us/home"> Paypal</a></p>
  

  
 
  </body>